**/*__pycache__
**/*.pyc

# build
build/*

# link
csv
pcap
dist
new
running_ids

# data
csv/*
pcap/*
dist/*
saved_neural_networks/*
results/*
new/*
running_ids/*

# virtual environment
IDS/*
.vscode/*

