**/*__pycache__
**/*.pyc

# build
build/*

# link
csv
pcap
dist
new
running_ids
results
alerts_level1.txt
alerts_level2.txt
alerts_level3.txt

# data
csv/*
pcap/*
dist/*
new/*
running_ids/*
results/*

saved_neural_networks/*
log/*

# virtual environment
IDS/*
.vscode/*

